.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.header-style {
  display: flex;
  height: 150px;
  width: 100%;
  justify-content: space-around;
  
}

.img {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 100%;
}

.line {
  background-color: #161B22;
  color: #161B22;
  border-color: #161B22;
  height: 4px;
  width: 100%;
}

.header-name {
  font-size: xx-large;
  font-weight: bolder;
}

.header-text {
  font-size: x-large;
  font-weight: bold;
}

